@{
    ViewData["Title"] = "Balls Shop";
}

<div class="text-center">
    <h1 class="display-4">Welcome Ronaldo fans. Bye bye Messi fans.</h1>
    <p>Learn more about Ronaldo <a href="https://en.wikipedia.org/wiki/Cristiano_Ronaldo"</a>SIUUU HALA MADRID👑🤍𓃶</p>
</div>
